.news-article-img{
    height: 250px;
    width: 420px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.news-article-card{
    margin-bottom: 15px;
    padding: 10px;
    width: 420px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}
.article-title{
    font-size: 20px;
}
.article-info{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.btn-read-more{
    text-decoration: none;
    background-color: black;
    padding: 5px 1opx;
    color: white;
    border-radius: 5px;
    cursor: pointer;
   }